<.header>
  List Products
  <:actions>
    <.link patch={~p"/admin/products/new"}>New Product</.link>
  </:actions>
</.header>

<.table id="products" rows={@products}>
  <:col :let={product} label="Name"><%= product.name %></:col>
  <:col :let={product} label="Price"><%= product.price %></:col>
  <:col :let={product} label="Size"><%= product.size %></:col>
</.table>

<.modal :if={@live_action == :new} id="new-product-modal">
  Are you sure?
</.modal>
