<section class="py-16">
  <div class="container mx-auto flex items-center justify-between">
    <div>
      <h6 class="text-lg">Make your order</h6>
      <h1 clas="text-3xl font-bold">Right now!</h1>
      <button class="px-6 bg-orange-500 text-white font-bold mt-5 rounded-full">Order now</button>
    </div>
    <div class="">
      <img src={~p"/images/hero.svg"} alt="Hero icon" />
    </div>
  </div>
</section>
